
html {
    background-color: bisque;
    font-family: 'Arial', 'Verdana', 'Tahoma';
}

h1 {
    text-align: center;
    color: brown;
}

div {
    color:cadetblue;
}

img {
    height: 400px;
    width: auto;
}
