* {
    margin: 0;
}


html {
    background-color: bisque;
    font-family: 'Arial', 'Verdana', 'Tahoma';
}

h1 {
    text-align: center;
    color: brown;
    border: 5px solid brown;
    border-radius: 10px;
    height: auto;
    width: 350px;
    margin: 16px auto;
    padding: 8px 24px;
    box-sizing: border-box;
}

div {
    color:cadetblue;
}

img {
    height: 200px;
    width: auto;
}

.container {
    list-style: none;
    margin: 50px;
    box-sizing: border-box;
}

.container div {
    display: block;
    box-sizing: border-box;
    width: 500px;
    margin:  32px auto;
    text-align: center;
}


.container div a img {
    border-radius: 16px;
}

.container div p {
    margin: 24px auto;
    font-size: 21px;
    box-sizing: border-box;
    width: 200px;

}

.container_recipe {
    list-style: none;
    margin: 50px;
    box-sizing: border-box;
}

.container_recipe div {
    display: block;
    box-sizing: border-box;
    text-align: left;
}

.container_recipe div img,
.container_recipe button {
    display: block;
    border-radius: 16px;
    margin: 8px auto;
}

.container_recipe div h3 {
    margin: 24px auto;
}



.container_recipe div p,
.container_recipe div ul,
.container_recipe div ol {
    margin: 24px auto;
    font-size: 16px;
}


.container_recipe button {
    height: 50px;
    width: 100px;
    font-size: 21px;
    margin: 16px auto;
}